@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url(homepage.css);

/*sticky navbar, grid, slideshows, vidoes*/
body{
  background: #040B10;
}

/* Navigation */
header{
  display: flex;
  padding:0px;
  height: 80px;
}

header img{
  padding: 10px;
}

#stick_nav{
  top: 0;
  margin: auto;
  width: 100%;
  background:#040B10;
  position: fixed;
  z-index: 1;
}

#profilePic{
  padding-right: 40px; 
  padding-top: 20px;
}

nav {
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 10px ;
}

nav ul{
    display: flex;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    margin: auto;
    display: block;
    padding: 5px;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav ul li a{
  position: relative;
  display:inline-block;
  padding: 10px 10px;
  color: #2196f3;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s;
}


nav ul li a span{
  position: absolute;
  display: block;
}
nav ul li a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background:linear-gradient(270deg, transparent, #2196f3);
}

nav ul li a:hover span:nth-child(1){
  left:100%;
  transition:0.5s;
}

nav ul li a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background:linear-gradient(270deg, transparent, #2196f3);
}

nav ul li a:hover span:nth-child(3){
  right:100%;
  transition:0.5s;
}

nav ul li ul li a:hover{
  width:100;
  background:linear-gradient(270deg, transparent, #0d2231)
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: inherit;
  font-size: inherit;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #2196f3;
  padding: 2px 0 2px 0;
  z-index: 1;;
}

.dropdown:hover .dropdown-content {
  display: block;
}

hr{
    width: 1000px;
    margin: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #cc0f0f;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px red;
    padding: 0;
    animation: glow 1s ease-in-out infinite;
    -webkit-animation: glow 1s ease-in-out infinite;
}

hr::before {
    content: '';
    position: absolute;
    border: 2px solid #222;
    width: 900px;
    margin: -2px 50px;
    border-radius: 2px;
    box-shadow: 0 0 3px black;
    animation: glowMinr 1s ease-in-out;
    -webkit-animation: glowMinor 0.5s ease-in-out infinite 
  }

@keyframes glow {
    0%{box-shadow: 0 0 20px #2196f3;}
    50%{box-shadow: 0 0 1px #2196f3;}
    100%{box-shadow: 0 0 20px #2196f3;}
  }
  .grid { 
      margin: 2px; 
      float:left; 
    }

  #locations { 
      height: 150px; 
      width:  450px; 
      background-color: red;
    }

    #promises { 
        height: 150px; 
        width:  850px; 
        background-color: green;
      }

  #tnC { 
      height: 350px; 
      width:  550px; 
      background-color: blue;
    }

  #introduction { 
      height: 350px; 
      width:  300px;
      background-color: orange;
    }

  #products { 
      height: 550px; 
      width: 447px; 
      background-color: yellow;
    }

  #social { 
      height: 198px;
      width: 852px; 
      background-color: brown;
      margin-top:-198px;
    }

    .button {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4);
      }

    .button-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

