body {
    background: #040B10;
}

/*Marquee*/
marquee {
    width:100%;
    margin-top: 5.8%;
    margin-bottom: 8px;
}

marquee > h1{
    text-align: center;
    color: white;
}

/*Table*/
#cartDetails { 
    border: #8cacac dashed 3px;
    border-collapse: collapse;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/*Table H1*/
#cartDetails thead th {
    border-collapse: collapse;
    border-bottom: 2.5px solid #2196f3;
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px;
    color: white;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold; 
}

/* A row of the cart items */
.cart {
    background-color: #040B10;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin:5px;
    border-bottom: 1.2px solid #ddd;
}

.cart td{
    padding-top: 50px;
    padding-bottom: 50px;
}
/*The column of the each width (td) */
.cartProductImg {
    width: 20%;
    text-align: center;
}
.name {
    width: 22%;
    text-align: left;
}
.quantity {
    width: 20%;
    text-align: center;
}

.quantity input.quantityValue{
    font-weight: bold;
}
.price {
    width: 10%;
    text-align: center;
}
.total {
    width:12%;
    text-align: center;
}
.remove {
    width:5%;
    padding-right: 15px;
}

/* A column of the cart item properties*/
.cart img {
    padding: 0%;
    text-align: none;
    border-radius: 15px 15px 15px;
    width: 50%;
    height: auto;
}

.cart p {
    margin:0;
    color: #CACCCD;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.5;
}

.cart .remove button{
    margin-top: 7.5px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    cursor:pointer;
    border: 2px solid #2196f3 ;
    border-radius: 12px;
}

.cart .remove button:hover{
    background-color: red; 
    box-shadow: 0 12px 16px 0 rgb(46, 40, 40);
}

.cart .remove button:active {
    box-shadow: 0 5px ;
    transform: translateY(5px);
}


/*Quantity*/
.quantity input{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    text-align: center;
    width: 50px;
    height: 30px;
    font-size: 1.4em;
    color: black;
    background-color: white;
    font-weight: 300;
    
}
button[class*=Button] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.minusButton img{
    margin-bottom: 3px;
}

.plusButton img{
    margin-top: 2px;
}
  
.quantity button:focus,
.quantity input:focus{
    outline: 0;
}
  
/*Total*/
.cartPayment{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#totalPrice{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;    
    letter-spacing: 1px;
    color: white;
}

#totalPrice h3{
    margin-top: 10px;
    margin-left: 20px;
}

/*sliding Button*/
.slidingButton {
    width: 340px;
    height: 40px;
    padding: 10px 40px;
    line-height: 40px;
    position: relative;
    z-index: 1;
}
.btn_one {
    font-size: 1.1em;
    float: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1.0s;
}
.btn_two {
    font-size: 1.1em;
    float: right;
    text-decoration: none;
    color: #a6afbf;
}
.btn_bg {
    background: #283048;  
    background: linear-gradient(to right, #859398, #283048); 
    height: 60px;
    width: 170px;
    position: absolute;
    top: 0;
    margin-left: -208px;
    z-index: -1;
    transition: 1.0s;
    border-radius: 5px; 
}

#continueShop:hover + .btn_bg {
    width: 252px;
    margin-left: -40px;
}

.btn_two > #continueShop:hover {
    color: white;
}

.btn_two:hover ~ .btn_one {
    color: #a6afbf;
}
#continueShop {
    padding: 10px 0;
    transition: 1.0s;
}