@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url(homepage.css);

body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#profilePic{
    padding-right: 5px;
    padding-top: 20px;
  }
  
  #navCart{
    padding-right: 25px;
    padding-top: 20px;
  }

.page_content{
    width: 100%;
    height: fit-content;
    margin-top: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(Pictures/contact_background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    height: 700px;
    padding-bottom: 20px;
    right: 0;
}

.contact_us{
    margin-top: 80px;
    width: 40%;
    float: left;
    padding: 5px 10px 5px 10px;
    height: (100% -80px);
    border-radius: 3px;
    position: absolute;
    left: 0;
}

.contact_us--h1{
    margin-left: 130px;
    font-size: 3.9em;
    color: white;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0px;
}

.contact_us--split_div{
    height: 15px;
}

.contact_us--table{
    margin-left: 130px;
    color: white;
    font-size: 1.2em;
    width: 80%;
}

.contact_us--table > tbody > tr > th{
    text-align: left;
}

.contact_us--table > tbody > tr:nth-child(1) > td:nth-child(1){
    vertical-align: middle;
    padding-bottom: 25px;
}

.contact_us--table > tbody > tr:nth-child(1) > td:nth-child(2){
    color: #3da2f5;
    font-weight: bold;
    font-size: 1.3em;
}

.contact_us--table > tbody > tr:nth-child(3) > td:nth-child(1){
    padding-bottom: 25px;
}

.contact_us--splitline{
    background-color: #3da2f5;
    height: 3px;
    width: 80%;
    margin-left: 0;
}

.contact_us--table > tbody > tr:nth-child(4) > td:nth-child(1){
    vertical-align: middle;
    padding-bottom: 25px;
}

.contact_us--table > tbody > tr:nth-child(4) > td:nth-child(2){
    color: #3da2f5;
    font-weight: bold;
    font-size: 1.3em;
}

.contact_us--table > tbody > tr:nth-child(6) > td:nth-child(1){
    padding-bottom: 25px;
}

.contact_us--table > tbody > tr:nth-child(7) > td:nth-child(1){
    vertical-align: middle;
    padding-bottom: 25px;
}

.contact_us--table > tbody > tr:nth-child(7) > td:nth-child(2){
    color: #3da2f5;
    font-weight: bold;
    font-size: 1.3em;
}

.contact_us--table > tbody > tr:nth-child(9) > td:nth-child(1){
    padding-bottom: 25px;
}

.contact__form{
    width: 60%;
    height: (100% -90px);
    position: absolute;
    right: 0;
}

.contact__form--form_div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.contact__form--form{
    width: 87%;
    height: fit-content;
    margin-right: 13%;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    padding-bottom: 40px;
}

.contact__form--title{
    color: #2196f3;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
}

.contact__form--p{
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact__form--inputgrp{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.contact__form--input{
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 25px;
    font-size: 1em;
    margin-top: 20px;
    padding: 8px 12px;
    background-color: rgba(23, 22, 26, 0.1);
    border: none;
}

.contact__form--input:focus{
    outline: 0;
    border: 2px solid #2196f3;
}

.contact__form--textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 80px;
    font-size: 1em;
    margin-top: 20px;
    padding: 8px 12px;
    background-color: rgba(23, 22, 26, 0.1);
    border: none;
}

.contact__form--submitForm{
    height: 40px;
    width: 80px;
    margin-top: 20px;
    font-size: 1em;
    background-color: #2196f3;
    color: white;
    border: 1px solid #2196f3;
}

.contact_us--icon{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}