
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{
  background: #040B10;
  color: white;
}

header{
  display: flex;
  padding:0px;
  height: 80px;
}

header img{
  padding: 10px;
}

#stick_nav{
  top: 0;
  margin: auto;
  width: 100%;
  background:#040B10;
  position: fixed;
  z-index: 1;
}

#profilePic{
  padding-right: 40px;
  padding-top: 20px;
}

nav {
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 10px ;
}

nav ul{
    display: flex;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    margin: auto;
    display: block;
    padding: 5px;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav ul li a{
  position: relative;
  display:inline-block;
  padding: 10px 10px;
  color: #2196f3;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s;
}


nav ul li a span{
  position: absolute;
  display: block;
}
nav ul li a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background:linear-gradient(270deg, transparent, #2196f3);
}

nav ul li a:hover span:nth-child(1){
  left:100%;
  transition:0.5s;
}

nav ul li a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background:linear-gradient(270deg, transparent, #2196f3);
}

nav ul li a:hover span:nth-child(3){
  right:100%;
  transition:0.5s;
}

nav ul li ul li a:hover{
  width:100;
  background:linear-gradient(270deg, transparent, #0d2231)
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: inherit;
  font-size: inherit;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #2196f3;
  padding: 2px 0 2px 0;
  z-index: 1;;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@keyframes glow {
    0%{box-shadow: 0 0 20px #2196f3;}
    50%{box-shadow: 0 0 1px #2196f3;}
    100%{box-shadow: 0 0 20px #2196f3;}
  }

/*FAQ Header*/
.faqHeader {
  height: 100vh;
  width: 100%;
  background:
  linear-gradient(rgba(0, 0, 0, 0.55),
  rgba(0, 0, 0, 0.55)),
  url(./Pictures/faqHeaderImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqHeader h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  line-height: 1.65em;
  -webkit-box-reflect: below 0.5px linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  text-shadow: 0 0 10px #00b3ff,
               0 0 20px #00b3ff,
               0 0 40px #00b3ff,
               0 0 80px #00b3ff,
               0 0 160px #00b3ff;
}

.lightBar:first-of-type {
  position: absolute;
  top: 23%;
  left: 0;
  width: 0.7em;
  height: 75%;
  margin-left: 5%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px #00b3ff,
              0 0 20px #00b3ff,
              0 0 40px #00b3ff,
              0 0 80px #00b3ff,
              0 0 160px #00b3ff;
}

.lightBar:last-of-type {
  position: absolute;
  top: 23%;
  right: 0;
  width: 0.7em;
  height: 75%;
  margin-right: 5%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px #00b3ff,
              0 0 20px #00b3ff,
              0 0 40px #00b3ff,
              0 0 80px #00b3ff,
              0 0 160px #00b3ff;
}

.scrollIcon {
  width: 0.5em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.3em 0.3em 0;
  display: block;
  padding: 0.2em;
  transform: rotate(45deg);
  animation: scrollIconAnimation 4s infinite;
  -webkit-animation: scrollIconAnimation 4s infinite;
  -moz-animation: scrollIconAnimation 4s infinite;
}

.scrollIcon:nth-of-type(1) {
  animation-delay: -0.4s;
  -webkit-animation-delay: -0.4s;
  -moz-animation-delay: -0.4s;
}

.scrollIcon:nth-of-type(2) {
  animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
  -moz-animation-delay: -0.2s;
}

@keyframes scrollIconAnimation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.8;
    transform: rotate(45deg) translate(20px, 20px);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@-webkit-keyframes scrollIconAnimation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.8;
    transform: rotate(45deg) translate(20px, 20px);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@-moz-keyframes scrollIconAnimation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.8;
    transform: rotate(45deg) translate(20px, 20px);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

hr.separatorLine {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 10px;
  height: 0.7em;
  width: 55vw;
  background: #FFF0F5;
  box-shadow: 0 0 10px #F08080,
              0 0 20px #F08080,
              0 0 40px #F08080,
              0 0 80px #F08080,
              0 0 160px #F08080;
}

/*Main Content*/
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.item-container {
  width: 40%;
  box-shadow: 0 0 4px #F08080,
              0 0 8px #F08080,
              0 0 16px #F08080,
              0 0 32px #F08080,
              0 0 64px #F08080;
  margin: 2em;
  border-radius: 1em;
}

/* .item-container.hover {
  animation: colorChange 5s infinite;
} */

.item-container img {
  width: 100%;
  border-radius: 1em;
}

.item-btn {
  height: 3em;
  border-radius: 1em;
}

.item-container .item-btn p {
  font-size: 1.5em;
  margin: 0.5em;
  text-align: center;
  cursor: pointer;
}

.item-container .item-questions {
  margin: 0.5em;
  display: none;
}

.arrowIcon {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translateY(-5px);
}

.item-questions a {
  color: wheat;
  font-size: 1.4em;
}

.item-questions a:hover {
  color: skyblue;
}

/* @keyframes colorChange {
  0% {
    box-shadow: 0 0 4px blue,
                0 0 8px blue,
                0 0 16px blue,
                0 0 32px blue,
                0 0 64px blue;

  }
  10% {
    box-shadow: 0 0 4px #8e44ad,
                0 0 8px #8e44ad,
                0 0 16px #8e44ad,
                0 0 32px #8e44ad,
                0 0 64px #8e44ad;

  }
  20% {
    box-shadow: 0 0 4px #F08080,
                0 0 8px #F08080,
                0 0 16px #F08080,
                0 0 32px #F08080,
                0 0 64px #F08080;

  }
  30% {
    box-shadow: 0 0 4px #1abc9c,
                0 0 8px #1abc9c,
                0 0 16px #1abc9c,
                0 0 32px #1abc9c,
                0 0 64px #1abc9c;

  }
  40% {
    box-shadow: 0 0 4px blue,
                0 0 8px blue,
                0 0 16px blue,
                0 0 32px blue,
                0 0 64px blue;

  }
  50% {
    box-shadow: 0 0 4px #34495e,
                0 0 8px #34495e,
                0 0 16px #34495e,
                0 0 32px #34495e,
                0 0 64px #34495e;

  }
  60% {
    box-shadow: 0 0 4px blue,
                0 0 8px blue,
                0 0 16px blue,
                0 0 32px blue,
                0 0 64px blue;

  }
  70% {
    box-shadow: 0 0 4px #2980b9,
                0 0 8px #2980b9,
                0 0 16px #2980b9,
                0 0 32px #2980b9,
                0 0 64px #2980b9;

  }
  80% {
    box-shadow: 0 0 4px #f1c40f,
                0 0 8px #f1c40f,
                0 0 16px #f1c40f,
                0 0 32px #f1c40f,
                0 0 64px #f1c40f;

  }
  90% {
    box-shadow: 0 0 4px #2980b9,
                0 0 8px #2980b9,
                0 0 16px #2980b9,
                0 0 32px #2980b9,
                0 0 64px #2980b9;

  }
  100% {
    box-shadow: 0 0 4px pink,
                0 0 8px pink,
                0 0 16px pink,
                0 0 32px pink,
                0 0 64px pink;
  }
} */


.animActive {
  animation: activeAnimation 3s ease;
  -webkit-animation: activeAnimation 3s ease;
  -moz-animation: activeAnimation 3s ease;
}

@keyframes activeAnimation {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes activeAnimation {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes activeAnimation {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}






/*Footer*/
footer{
  text-align: center;
  color:rgb(255, 255, 255);
  background-color: #040B10;
  padding: 5px;
}

footer a{
  letter-spacing:1px;
  color:rgb(255, 255, 255);
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

footer #footerSeparate{
  margin: auto;
  display: flex;
}
#footersec1{
  padding:0px;
  width: 100%;
  margin: auto;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  font-family: 'Roboto';
}


#footer1{
  padding: 5px;
  margin: auto;
  padding-right: 20px;
}

#footer2{
  padding: 5px;
 margin: auto;

  padding-right: 20px;
}

#footer3{
  padding: 5px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#footer4{
  padding: 5px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#footer5{
  padding: 5px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#footersec3{
  font-size:12px;
  color: white;
}
