body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login-register-form{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(Image/background_image.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box{
    width: 400px;
    max-width: 400px;
    margin: 16px;
    padding: 32px;
    border-radius: 10px;
    background-color: #3E4247;
}

.form-box,
.form__input,
.form__button{
    font-weight: 500;
    font-size: 16px;
}

.form-hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.form__input--group{
    margin-bottom: 16px;
    transition: .2s;
}

.form__input{
    width: 100%;
    padding: 12px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #A9A9A9;
    outline: none;
    background: transparent;
    color: white;
}

.form__input:focus{
    border-color: #009579;
    background: transparent;
}

.form__input--error{
    color: red;
    border-color: red;
}

.form__button{
    width: 100%;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: #009579;
}

.form__button:hover{
    background-color: #007F67;
}

.form__button:active{
    transform: scale(0.98);
}

.form__text{
    text-align: center;
}

.form__link{
    color: lightseagreen;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}

div > img{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container{
    display: none;
    position: absolute;
    z-index: 1;
    margin: 0;
    left: 0;
    top: 0;
    width: 40%;
    height: auto;
    overflow: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#container_content{
    background-color:white;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    color: #3E4247;
}

.close{
    position: absolute;
    color: #009579;
    text-decoration: none;
    right: 60px;
    top: 50px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover{
    color: red;
}

.forget_pass-table{
    border: none;
    border-spacing: 10px;
    padding-bottom: 10px;
}

.forget_pass-table > tr > td{
    margin-left: 15px;
}

.forget_pass-email{
    background-color: #3E4247;
    border: #3E4247;
    border-radius: 10px;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    padding-top: 1px;
    color: white;
}

.forget_pass-email > p{
    padding: 0;
    margin: 10px 0 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.forget_pass-email > .forget_pass-input{
    margin-bottom: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #A9A9A9;
    outline: none;
    background: transparent;
    color: white;
}

.forget_pass-email > .forget_pass-input:focus{
    border-color: #009579;
    background: transparent;
}

.forget_pass-button{
    width: 100%;
    padding: 8px 14px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: #009579;
}

.forget_pass-button:hover{
    background-color: #007F67;
}

.forget_pass-button:active{
    transform: scale(0.98);
}

div#forget_pass > h1{
    text-align: left;
    padding-left: 10px;
    margin-top: 20px 20px;
}
