@import url(homepage.css); 

table{
    margin-top: 9%;
    /* padding-top: 8%; */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
    height: auto;
} 

table tr td{
    border: 1px solid black;
}

/* for printing */
@media print {
    .footer,
    #non-printable {
        display: none !important;
    }
    #printable {
        display: block;
    }
}