/* //@import url(homepage.css); */

/* table{
    padding-top: 7%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
} */

@media print {
    .footer,
    #non-printable {
        display: none !important;
    }
    #printable {
        display: block;
    }
}