@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url(homepage.css);

html{
  scroll-behavior: smooth;
}
/* body */
body{
  background-image: url(pictures/product1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

/* searchbox */
#searchBox {
  background-color: #040B10;
  height: 20px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #ddd;
  position: fixed;
  margin: auto;
  width: auto;
  z-index: 1;
  float: right;
  color: white;
}

#searchList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#searchList li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#searchBox:focus > #searchList > li > a{
  display: block;
}

#searchList li a:hover:not(.header) {
  background-color: #eee;
}

/* product */

table,tr,th{
  top: 20px;
  color: #dfe7f2;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 85%;
  column-width: 50%;
  background-color: #040B10;
}

/* table border */
.rainbow {
  position: relative;
  background: linear-gradient(0deg, #000, #040B10);
}

.rainbow:before, .rainbow:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: rainbowAnimation 20s linear infinite;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rainbow:after {
  filter: blur(50px);
}

#description{
  color: #586c91;
}

#product-title{
  padding-top: 7%;
}
/* the coloumn */
.product-pic{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  position: relative;
  column-width: 500px;
}

.right-column{
  align-content: center;
  width:90%;
  column-width: 500px;
}

/* left-column */
.product-pic img{
  width: 75%;
  position:relative;
  /* left: 0;
  top: 0; */
  transition: all 0.3s ease;
  padding-top: 10%;
  background-color: #040B10;
  height: 35%;
  margin-left: auto;
  margin-right: auto;
}

th{
  padding-top: 5%;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  column-width: 50%;

}

/* right column */

.product-description h1 {
  font-weight: 300;
  font-size: 40px;
  color: #a4b0bb;
  letter-spacing: -2px;
}
#description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* the radio input */
.product-color{
  margin-bottom: 30px;
}

/* product color */
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.addToCart {
  background-color: #3d3e4d;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all .5s;
}
.addToCart:hover {
  background-color: #323457;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}