@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
@import url(homepage.css);

html{
  scroll-behavior: smooth;
}

#description{
  font-family: 'Titillium Web', sans-serif;
  /* font-weight: bold; */
  color: #e0eef7 ;
}
#product-title{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
/* searchbox */
#searchBox {
  margin: auto;
  display: block;
  background-color: #040B10;
  height: 20px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-right: 50px;
  width: auto;
  z-index: 1;
  color: white;
}
summary p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 100px;
  display: block;
  position: static;
  color: white;
  text-decoration: none;
}

#searchList {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  width: inherit;
  position: fixed;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #040B10;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}

#searchList li {
  margin-top: -1px; /* Prevent double borders */
  background-color: #040B10;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

#searchList li a{
  color: white;
}

#searchList li a:hover{
  text-decoration: none;
}

#searchList li a:hover:not(.header) {
  background-color: white;
  color: #040B10;
}

/* product */
table{
  margin-bottom: 5%;
}
table,tr,th{
  top: 20px;
  color: #dfe7f2;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  width: 85%;
  column-width: 50%;
  background-color: #040B10;
}

/* table border */
.rainbow {
  position: relative;
  background: linear-gradient(0deg, #000, #040B10);
}

.rainbow:before, .rainbow:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: rainbowAnimation 20s linear infinite;
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rainbow:after {
  filter: blur(50px);
}

#product-title{
  padding-top: 7%;
}
/* the coloumn */
.product-pic{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  position: relative;
  column-width: 500px;
}

.right-column{
  align-content: center;
  width:90%;
  column-width: 500px;
}

/* left-column */
.product-pic img{
  width: 400px;
  position:relative;
  transition: all 0.3s ease;
  padding-top: 10%;
  background-color: #040B10;
  height: 35%;
  margin-left: auto;
  margin-right: auto;
  left: 50px;
}

th{
  
  padding-top: 5%;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  column-width: 50%;

}

table tr td{
  padding-bottom: 15px;
}

.keyboard1-color{
  font-family: 'Titillium Web', sans-serif;
}
.keyboard2-color{
  font-family: 'Titillium Web', sans-serif;
}
.keyboard3-color{
  font-family: 'Titillium Web', sans-serif;
}
.Mouse-color{
  font-family: 'Titillium Web', sans-serif;
}
.addToCart{
  font-family: 'Titillium Web', sans-serif;
}
.headphone-color{
  font-family: 'Titillium Web', sans-serif;
}
.chair-color{
  font-family: 'Titillium Web', sans-serif;
}
.product-color{
  font-family: 'Titillium Web', sans-serif;
}
.controller1-color{
  font-family: 'Titillium Web', sans-serif;
}
.controller2-color{
  font-family: 'Titillium Web', sans-serif;
}
.controller3-color{
  font-family: 'Titillium Web', sans-serif;
}
/* right column */

.product-description h1 {
  color:#73b2db;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #a4b0bb;
  letter-spacing: -2px;
}
#description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* the radio input */
.product-color{
  margin-bottom: 30px;
}

/* product color */
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #2196f3;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-family: 'Titillium Web', sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #b7bac0;
  margin-right: 20px;
}
 
.addToCart {
  background-color: #3d3e4d;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all .5s;
}
.addToCart:hover {
  background-color: #323457;
}

/* Cable Configuration */
#cable-choose-keyboard1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
 
#cable-choose-keyboard1 button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
#cable-choose-keyboard1 button:hover,
#cable-choose-keyboard1 button:active,
#cable-choose-keyboard1 button:focus {
  background-color: wheat;
  border: 2px solid #86939E;
  outline: none;
}
 
#cable-choose-keyboard1 span{
  font-family: 'Titillium Web', sans-serif;
}
#cable-choose-keyboard2 span{
  font-family: 'Titillium Web', sans-serif;
}
#cable-choose-keyboard3 span{
  font-family: 'Titillium Web', sans-serif;
}

#cable-choose-keyboard1 a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
#cable-choose-keyboard1 a:before {
  /* content: &amp;quot;?&amp;quot;; */
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* switch Configuration */
#keyboard1-switch {
  margin-bottom: 20px;
}
 
#keyboard1-switch span{
  font-family: 'Titillium Web', sans-serif;
}
#keyboard2-switch span{
  font-family: 'Titillium Web', sans-serif;
}
#keyboard3-switch span{
  font-family: 'Titillium Web', sans-serif;
}
#keyboard1-switch button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
#keyboard1-switch button:hover,
#keyboard1-switch button:active,
#keyboard1-switch button:focus {
  background-color: wheat;
  border: 2px solid #86939E;
  outline: none;
}
 
#keyboard1-switch a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
#keyboard1-switch a:before {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}


/* Cable Configuration */
#cable-choose-keyboard2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
 
#cable-choose-keyboard2 button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
#cable-choose-keyboard2 button:hover,
#cable-choose-keyboard2 button:active,
#cable-choose-keyboard2 button:focus {
  background-color: wheat;
  border: 2px solid #86939E;
  outline: none;
}
 
 
#cable-choose-keyboard2 a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
#cable-choose-keyboard2 a:before {
  /* content: &amp;quot;?&amp;quot;; */
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* switch Configuration */
#keyboard2-switch {
  margin-bottom: 20px;
}
 
#keyboard2-switch button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
#keyboard2-switch button:hover,
#keyboard2-switch button:active,
#keyboard2-switch button:focus {
  background-color: wheat;
  border: 2px solid #86939E;
  outline: none;
}
 
#keyboard2-switch a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
#keyboard2-switch a:before {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Cable Configuration */
#cable-choose-keyboard3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
 
#cable-choose-keyboard3 button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
#cable-choose-keyboard3 button:hover,
#cable-choose-keyboard3 button:active,
#cable-choose-keyboard3 button:focus {
  background-color: wheat;
  border: 2px solid #86939E;
  outline: none;
}
 
 
#cable-choose-keyboard3 a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
#cable-choose-keyboard3 a:before {
  /* content: &amp;quot;?&amp;quot;; */
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* switch Configuration */
#keyboard3-switch {
  margin-bottom: 20px;
}
 
#keyboard3-switch button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
#keyboard3-switch button:hover,
#keyboard3-switch button:active,
#keyboard3-switch button:focus {
  background-color: wheat;
  border: 2px solid #86939E;
  outline: none;
}
 
#keyboard3-switch a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
#keyboard3-switch a:before {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

