@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url(homepage.css);

@font-face {
    font-family: NotoJans;
    src: url(../Pictures/fonts/NotoSansJP-Regular.otf);
}

.page_content{
    display: flex;
    position: relative;
}

.left_container{
    float: left;
    width: 25%;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-top: 65px;
    left: 0;
    overflow-y: hidden;
}

.right_container{
    float: left;
    width: 75%;
    overflow-y: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 25px;
    padding-top: 65px;
    background-color: #3E4247;
    font-family: Arial, Helvetica, sans-serif;
    right: 25px;
}

.vertical_profile{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 220px;
}

.vertical_profile a{
    font-family: NotoJans;
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 30px;
    height: 30px;
    display: block;
    width: 200px;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

.vertical_profile a:hover{
    color: #2196f3;
    box-shadow: 0 0 10px #2196f3;
    background-color: #3E4247;
    border-radius: 1px;
}

h1{
    color: white;
    padding-left: 15px;
    margin-top: 30px;
}

.split_line{
    width: 97%;
    height: 1px;
    background-color: white;
    border-radius: 1px;
    border: 1px solid white;
}

.profile_content{
    width: 97%;
    overflow-y: hidden;
}

.profile_form{
    background-color: white;
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 35px;
    box-shadow: 0 0 10px #2196f3;
    border-radius: 5px;
    overflow-y: hidden;
    font-size: .8em;
}

.profile_table{
    width: 80%;
    margin: 30px auto;
}

.profile_picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #3E4247;
    margin-left: 15px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

td{
    padding: 10px 5px;
}

table.profile_table > tr > td:nth-of-type(1){
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

table.profile_table > tr > td:nth-of-type(2){
    padding-left: 5px;
    padding-right: 20px;
}

table.profile_table > tr > td:nth-of-type(3){
    text-align: center;
    vertical-align: top;
    border-left: 1px solid gray;
}

.profile__input{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 5px 5px;
}

input[type='submit']{
    height: 30px;
    width: 50px;
    margin-top: 10px;
    font-size: .9em;
    background-color: #2196f3;
    color: white;
    border: 1px solid #2196f3;
}

input[type='submit']:hover{
    cursor: pointer;
    background-color: rgba(33, 150, 243, 0.9);
}

input.logOut{
    height: 30px;
    width: 50px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: .9em;
    background-color: red;
    color: white;
    border: 1px solid red;
}

input.logOut:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.8);
}

button.address--saveAddress{
    height: 30px;
    width: 50px;
    margin-top: 10px;
    font-size: .9em;
    background-color: #2196f3;
    color: white;
    border: 1px solid #2196f3;
}

button.address--saveAddress:hover{
    cursor: pointer;
    background-color: rgba(33, 150, 243, 0.9);
}

.bnc__content{
    display: block;
    background-color: white;
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-right: 50px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px #2196f3;
    border-radius: 5px;
    overflow-y: hidden;
    font-size: .8em;
}

.bnc__card{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.bnc__account{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.bnc--split_line{
    background-color: gray;
    width: 97%;
    height: 1px;
    margin-left: 10px;
    margin-top: 55px;
}

.bnc--title{
    display: block;
    width: 70%;
    float: left;
    height: 55px;
}

.bnc--h3{
    margin: 20px 20px 20px;
}

.bnc--button{
    display: block;
    float: right;
    width: 30%;
}

input.card[type='submit']{
    margin-bottom: 10px;
    width: 80%;
    height: 35px;
    font-size: 1em;
}

input.account[type='submit']{
    margin-bottom: 10px;
    width: 80%;
    height: 35px;
    font-size: 1em;
}

.bnc__background_overlay{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 88;
    display: none;
}

.bnc__addCard{
    display: none;
    z-index: 99;
    position: fixed;
    background-color: white;
    width: 400px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.bnc--close{
    position: absolute;
    color: black;
    text-decoration: none;
    right: 15px;
    top: 5px;
    font-size: 35px;
    font-weight: bold;
}

.bnc--h2{
    color: black;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
}

.bnc--span{
    color: gray;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.bnc--input{
    height: 30px;
    padding: 0 0 0 10px;
    margin: 15px 0 0 15px;
    width: 88%;
    color: black;
}

.bnc__addCard--dnc > #cardDate{
    width: 40%;
    float: left;
}

.bnc__addCard--dnc > #cardCvv{
    width: 40%;
    float: left;
}

.bnc--saveCard{
    margin-top: 20px;
    float: right;
    width: 30%;
    margin-right: 20px;
}

.bnc__addAccount{
    display: none;
    z-index: 99;
    position: fixed;
    background-color: white;
    width: 400px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.bnc--saveAccount{
    margin-top: 20px;
    float: right;
    width: 30%;
    margin-right: 20px;
}

.bnc--display{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.bnc__card--table{
    width: 100%;
    border-collapse: collapse;
}

.bnc__card--thead > tr > th{
    background-color: #2196f3;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.bnc__card--tbody > tr > td{
    color: black;
    border: 1px solid black;
    text-align: center;
}

.bnc__bank--table{
    width: 100%;
    border-collapse: collapse;
}

.bnc__bank--thead > tr > th{
    background-color: #2196f3;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.bnc__bank--tbody > tr > td{
    color: black;
    border: 1px solid black;
    text-align: center;
}

.address__content{
    display: block;
    background-color: white;
    margin: 25px;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-right: 50px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px #2196f3;
    border-radius: 5px;
    overflow-y: hidden;
    font-size: .8em;
}

.address__addresses{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.address--title{
    display: block;
    width: 70%;
    float: left;
    height: 55px;
}

.address--h3{
    margin: 20px 20px 20px;
}

.address--button{
    display: block;
    float: right;
    width: 30%;
}

input.address[type='submit']{
    margin-bottom: 10px;
    width: 80%;
    height: 35px;
    font-size: 1em;
}

datalist#banks{
    size: 200px;
}

.address--split_line{
    background-color: gray;
    width: 97%;
    height: 1px;
    margin-left: 10px;
    margin-top: 55px;
}

.address--display{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.address--table{
    width: 100%;
    border-collapse: collapse;
}

.address--thead > tr > th{
    background-color: #2196f3;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.address--tbody > tr > td{
    color: black;
    border: 1px solid black;
    text-align: center;
}

.address__background_overlay{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 88;
    display: none;
}

.address__addAddress{
    display: none;
    z-index: 99;
    position: fixed;
    background-color: white;
    width: 400px;
    height: 470px;
    top: calc(50% - 235px);
    left: calc(50% - 200px);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.address--close{
    position: absolute;
    color: black;
    text-decoration: none;
    right: 15px;
    top: 5px;
    font-size: 35px;
    font-weight: bold;
}

.address--h2{
    color: black;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
}

.address--span{
    color: gray;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.address--input{
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 10px;
    margin: 15px 0 0 15px;
    width: 88%;
    color: black;
}

.address--textarea{
    height: 100px;
    font-size: .8em;
    padding-top: 10px;
}

.address__addAddress--sna > #state{
    width: 44%;
    float: left;
}

.address__addAddress--sna > #area{
    width: 44%;
    float: left;
}

.address--saveAddress{
    margin-top: 20px;
    float: right;
    width: 30%;
    margin-right: 20px;
}

/*Debug pattern use*/
/* #addressPhone:valid{
    background-color: green;
}

#addressPhone:invalid{
    background-color: red;
}

#cardNumber:valid{
    background-color: green;
}

#cardNumber:invalid{
    background-color: red;
}

#cardDate:valid{
    background-color: green;
}

#cardDate:invalid{
    background-color: red;
}

#cardCvv:valid{
    background-color: green;
}

#cardCvv:invalid{
    background-color: red;
} 

#addressPostal:valid{
    background-color: green;
} 

#addressPostal:invalid{
    background-color: red;
} */