@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('http://fonts.cdnfonts.com/css/games');
@import url(homepage.css);

body{
    background: #040B10;
}

/* Navigation */
nav {
    text-align: center;
    width: 600px;
    margin: auto;
	top: 0;
    padding-bottom: 10px ;
}

nav ul{
    display: flex;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    margin: auto;
    display: block;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 0;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

nav ul li a{
    color: #fafafa;
    text-decoration: none;
    text-align: center;
    padding: 10px 16px;
}

nav a:hover {
   text-decoration: underline;
    color: white;
}

hr{
    width: 700px;
    margin: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #cc0f0f;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px red;
    padding: 0;
    animation: glow 1s ease-in-out infinite;
    -webkit-animation: glow 1s ease-in-out infinite;
}

hr::before {
    content: '';
    position: absolute;
    border: 2px solid #222;
    width: 600px;
    margin: -2px 50px;
    border-radius: 2px;
    box-shadow: 0 0 3px black;
    animation: glowMinr 1s ease-in-out;
    -webkit-animation: glowMinor 0.5s ease-in-out infinite 
  }

@keyframes glow {
    0%{box-shadow: 0 0 2px red;}
    50%{box-shadow: 0 0 8px red;}
    100%{box-shadow: 0 0 2px red;}
  }
  
  @-webkit-keyframes glow {
    0%{box-shadow: 0 0 2px red;}
    50%{box-shadow: 0 0 8px red;}
    100%{box-shadow: 0 0 2px red;}
  }
  
  @keyframes glowMinor {
    0%{box-shadow: 0 0 2px black;}
    50%{box-shadow: 0 0 8px black;}
    100%{box-shadow: 0 0 2px black;}
  }
  
  @-webkit-keyframes glowMinor {
    0%{box-shadow: 0 0 2px black;}
    50%{box-shadow: 0 0 8px black;}
    100%{box-shadow: 0 0 2px black;}
  }

  div#promotion_1{
    display: flex;
    margin-left: 250px;
    height: 500px;
    width: 300px;
    background-color: rgb(143, 6, 6);
  }

  div#promotion_1con{
    display: inline-block;
  }

  p#header_promo{
    margin: 2%;
    font-family: 'Games', sans-serif;
    color: white;
    font-size: 80px;
  }
  
  div#promotion_1sub{
    width: 1000px;
    height: 500px;
  }

  div#promotion_2{
    text-align: center;
    margin: auto;
    height: 200px;
    width: 150px;
    background-color: rgb(34, 53, 105);
  }

  div#promotion_2con{
    display: flex; 
    position: absolute; 
    top:600px;
  }

#promotion_2con1 {
  display: block;
  }

#promotion_2con1 h2 {
    left: 0;
    z-index: 1;
    padding: 10px;
    background-color: white;
    float: left;
  }

#promotion_2con1 p{
  text-align: left;
  font-size: 18px;
  margin: 0;
  color:white;
  width: 600px;
  float: left;
  padding-left: 30px;
}

#promotion_2con2 h2{
    right: 0;
    z-index: 1;
    float: right;
    padding: 10px;
    background-color: white;
  }

  #promotion_2con2 p{
    text-align: right;
    font-size: 18px;
    margin: 0;
    color:white;
    width: 600px;
    float: right;
    padding-right: 30px;
  }

  div#promotion_3{
    height: 500px;
    width: 100%;
    background-color: rgb(41, 40, 40);
  }

  div#promotion_3sub{
    clip-path: polygon(0 0, 75% 0, 50% 100%, 0% 100%);
    height: 500px;
    width: 90%;
    background-color: rgb(128, 120, 120);
  }

  div#promo_banner{
    margin: auto;
    height: 70px;
    width: 70%;
    background-color: yellowgreen;
  }
  
.mySlides {
  display: none;
}

div.slideshow-container {
  margin: auto;
  top: 900px;
  z-index: 1;
  height: 450px;
  width: 100%;
  position: absolute;
}

.slideshow-container > img {
  margin: auto;
  height: 400px;
  width: 400px;
}

div.linkProduct {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

  div#tnc{
    border-radius: 25px 25px 0px 0px ;
    margin: auto;
    height: 400px;
    width: 80%;
    background-color: rgb(226, 222, 222);
  }

  #tnc h3{
    padding: 20px;
  }

  #tnc li{
    font-size: 15px;
    color: gray;
    font-family: monospace;
    font-weight: lighter;
  }

 #meme{
    display: block;
    width: 350px;
    height: 200px;
    margin: auto;
  }
  
div.card{
  padding: 20px;
  position: absolute;
  right: 190px;
  clip-path: circle(5% at 95% 11%);
  transition: all ease-in-out .3s;
  background-color:#ffffff;
}
    
span.card__infoicon{
  position:absolute;
  font-size:1.4em;
  color:#000000;
  transition:ease-out .3s;
}

#info{
  top:-12px;
  right: -310px;
  position:absolute;
  width: 20px;
  height: 20px;
}

h2.card__title{
  margin: 2px;
  font-size: 2em;
  }

p.card__description{
  margin: 2px;
  text-align: center;
  font-size: 1.1em;
  }
    
div.card:hover, .card:focus{
  clip-path: circle(75%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 0px 3px 18px rgba(0,0,0,0.08);
  background:#ffffff;
  outline:none;
}

#promocode{
  margin: auto;
  font-size: small;
  border: 1px dashed black;
  border-radius: 5px;
  width:fit-content;
}

